#intro {
  margin: 100px
}

form {
  margin-left: 400px;
  margin-right: 400px;
  background-color: #6A6A6A;
  border-style: ridge;
  border-color: #555555;
  border-width: 20px;
  padding: 20px
}

#tinscr {
  margin-left: 450px;
  margin-right: 450px;
  background-color: #6A6A6A;
  border-style: ridge;
  border-color: #555555;
  border-width: 20px
}

.pubyork {
  float: left;
  margin-top: 140px;
  position: relative;
  left: 0px
}

body {
  float: none;
}
